@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1F2937; /* grey-800 */
  --foreground: #F3F4F6; /* grey-100 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* grey-900 */
    --foreground: #F9FAFB; /* grey-50 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
